---
- name: Create NVM Root
  file:
    path: "{{ nvm_root }}"
    state: directory
    owner: root
    group: web-admin
    mode: 02775
  become: yes

- name: Allow Web Admins to Write NVM Root
  acl:
    name: "{{ nvm_root }}"
    etype: group
    entity: web-admin
    permissions: rwx
    state: present
  become: yes

- name: Allow Web Admins Write to Future Directories
  acl:
    name: "{{ nvm_root }}"
    etype: group
    entity: web-admin
    permissions: rwx
    default: yes
    state: present
  become: yes

- name: Set ACL Mask for Future Directories
  acl:
    name: "{{ nvm_root }}"
    etype: mask
    permissions: rwx
    default: yes
    state: present
  become: yes

- name: Install NVM
  git:
    repo: https://github.com/creationix/nvm.git
    dest: "{{ nvm_root }}"
    version: "{{ nvm_version }}"

- name: Add NVM to Profile
  template: src=nvm.sh.j2 dest=/etc/profile.d/nvm.sh mode=755
  become: yes

- name: Create NVM Directories
  file: path={{ nvm_root }}/{{ item }} state=directory
  with_items:
    - alias
    - bin
    - src
    - versions

- name: Add NVM Bash Completion
  lineinfile:
    dest: ~/.bashrc
    line: '[[ -r $NVM_DIR/bash_completion ]] && . $NVM_DIR/bash_completion'
    insertafter: EOF
    state: present

- name: Install Current Version
  shell: . /etc/profile.d/nvm.sh && nvm install {{ node_version }}
  args:
    creates: "{{ nvm_root }}/versions/node/{{ node_version }}"

- name: Copy Nginx Configs
  template: src={{ item.src }} dest=/etc/nginx/conf.d/{{ item.dest }}
  become: yes
  notify:
    - Restart Passenger App
    - Restart Nginx
  with_items:
    - { src: node.conf.j2,      dest: "node-{{ node_version }}.conf" }
    - { src: passenger.conf.j2, dest: "passenger-{{ domain }}.conf" }

- name: Copy app.js Stub
  template: src=app.js.j2 dest={{ http_root }}/{{ domain }}/app.js
  when: copy_appjs
  notify: Restart Passenger App
