var http = require("http");

var server = http.createServer(function(req, res) {
    res.writeHead(200, { "Content-Type": "text/plain" });
    res.end("Phusion Passenger is serving Node.js {{ node_version }} code on {{ domain }}.\n");
});

server.listen(3000);
